*.pkcs*
*.jks
*.swo
*.crt
*.key
*.pem
*.tgz
*.tar
*.gz
*.bz2
*.xz
*.zip
*.pass
*.swp
nsre*
helm
*.orig
*.bak
*~
**/jenkins-docker/Dockerfile
**/jenkins-docker/Dockerfile.update-cert
**/jenkins-docker/build.sh
**/jenkins-docker/jenkins.jks
